[Desktop Entry]
Type=Application

# change this line (username and password):
Exec=/home/zhb/Developer/dotfiles/xkeysnail/run-xkey.sh 'password'

Hidden=false
NoDisplay=true
X-GNOME-Autostart-enabled=true
Name[en_NG]=xkey
Name=xkey
Comment[en_NG]=Start xkey On Startup
Comment=Start xkey On Startup

